@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Almarai', sans-serif;
    background-color: #ecf0f3;
    margin: 0;
    padding: 0;
}
:root{
    --shadow-color: 13px 13px 20px #cbced1, 
    -13px -13px 20px #fff;
    --bg-color:#f6f6f6; 
}
.container{
    width: 100%;
    height: 80px;
    background: #f6f6f6;
    box-shadow: 13px 13px 20px #cbced1, 
    -13px -13px 20px #fff;
    font-family: 'Almarai', sans-serif;
}
.logo-for-navbar{
    float: right;
    margin-right: 8rem;
}
img{
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5px;
}
.navbar{
    font-family: 'Almarai', sans-serif;
    font-weight: 800;
    color: #555;
    float: right;
    cursor: pointer;
    margin-top: -10px;
    margin-right: 20px;
}
ul li{
    display: inline-block;
    list-style-type: none;
    margin: 18px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
}
ul li:hover{
    color: #fff;
    transition: all 0.4s ease;
    background: rgb(72, 61, 139);
}
ul li:nth-child(5){
    width: 60px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
ul li:nth-child(4){
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
ul li:nth-child(3){
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

ul li:nth-child(2){
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

ul li:nth-child(1){
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.icon{
    color: rgb(72, 61, 139);
    font-size: 40px;
    cursor: pointer;
}
.fa-shopping-bag{
    margin: 25px;
    margin-left: 20rem;
}
.button-for-sign-up {
    z-index: 20;
    margin-top: -70px;
    background: linear-gradient(to left,#00d2ff,#3a7bd5);
    width: 180px;
    height: 50px;
    display: flex;
    align-items:center; 
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 7rem;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.fa-user-lock{
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
/*navbar*/

#preloader{
    background: url(./loader/macbook.gif) no-repeat center center; 
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-size: cover;
    pointer-events: none;
    margin: 80px;
    margin-left: 90px;
}

.title-website{
    float: right;
    margin: 30px;
    margin-top: -30rem;
    font-size: 30px;
    pointer-events: none;
}

h3{
    color: #555;
    font-weight: 500;
    font-size: 30px;
    margin-left: 125px;
}

.btn{
    float: right;
    margin-top: -17rem;
    transition: all 0.4s ease;
}
button{
    background: linear-gradient(to left,#00d2ff,#3a7bd5);
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    font-family: 'Almarai', sans-serif;
    cursor: pointer;
    border-radius: 10px;
    margin-left: -250px;
    transition: all 0.20s ease;
}

/*side-bar-right*/

































