*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    overflow: hidden;
    background: #555;  

}

.container{
    width: 400px;
    height: 400px;
    position:absolute;
    display: flex;
    flex-direction: column;
    background: #262626;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    border-radius: 40px;
    border-top: 10px solid #7B68EE;
    border-right: 10px solid #00FA9A;
    border-left: 10px solid #4682B4; 
    border-bottom: 10px solid blueviolet;

}

.text-shadow-animation{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    background: none;
}

h1{
    margin: 30px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    background: none;
    border-radius: 50px;
    width: 300px;
}

h1:hover{
    transition: all 0.4s ease-in-out;
    background: #FF8C00; 
    box-shadow: 0 0 5px #FF8C00, 
    0 0 5px #FF8C00, 
    0 0 25px #FF8C00, 
    0 0 50px #FF8C00, 
    0 0 200px #FF8C00; 
}

h2{
    margin: 30px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    background: none;
    font-size: 30px;
    border-radius: 50px;
}

h2:hover{
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 5px, 
    0 0 25px #00FA9A, 
    0 0 50px #00FA9A, 
    0 0 200px #00FA9A; 
    background: #00FA9A;
    border: none;
    outline: none;
}

h3{
    margin: 30px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 50px;
    height: 35px;
    padding: 10px;
    font-size: 1.5rem;
}

h3:hover{
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 5px, 
    0 0 25px #7B68EE, 
    0 0 50px #7B68EE, 
    0 0 200px #7B68EE; 
    background: #7B68EE;
    border: none;
    outline: none;
    background: #7B68EE;
}

.text-shadow-animation h1,h2,h3,.container{
    animation: text 1s ease-in-out infinite;
}

@keyframes text{
    0%{
        opacity: 1;
    }

    50%{
        filter: hue-rotate(200deg);
        opacity: 2;
    }
}



