*{
  box-sizing: border-box;
}
body{
  background:darkslategray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  border: 11px solid cornflowerblue;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-top-color:mediumspringgreen;
  animation: animate 20s linear infinite both;
  margin-left: 10px;
  margin-top: 9px;
}
.text{
   margin-top: -135px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-transform: capitalize;
   letter-spacing: 1px;
   font-size: 20px;
   font-weight: 600;
}
.bg-color{
  width: 110px;
  height: 110px;
  background: #262626;
  border-radius: 10px;
}
@keyframes animate {
  50%{
    transform: rotate(5000deg);
    filter: hue-rotate(100deg);
  }
}










