*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    overflow: scroll;
    scroll-behavior: smooth;
    transition: all 0.4s ease-in-out;
}

:root{
    --primary-color:#f6f6f6; 
    --secondery-color:#555; 
    --bg-color:#e0e0e0; 
    --green:rgb(0, 250, 154);
}

.header{
    width: 100%;
    height: 70px;
    background:rgb(139, 0, 139); 
    box-shadow: 5px 5px 10px #f6f6f6;
    font-family: sans-serif;
    color: #fff;
    font-size: 30px;
    
}

.icon-font{
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    margin-top: -50px;
    color: var(--bg-color); 
    font-size: 30px;
    line-height: 30px;
    margin-left: 1300px;
    cursor: pointer;
}

.icon-2-font{
    color: var(--bg-color);
    font-size: 40px;
    margin-top: -38px;
    margin-left: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
 
}
span{
    margin: 20px;
    cursor: none;
    pointer-events: none;
}

.icon-font:hover{
    color:rgb(0, 250, 154); 

}

.hamberger-mnue-icon{
    color: var(--bg-color);
    font-size: 30px;
    margin-left: 90%;
    line-height: 30px;
    margin-top: -35px;
}

.hamberger-mnue-icon:hover{
    color:rgb(0, 250, 154);   
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

@media screen and (min-width:1200px) {
  .hamberger-mnue-icon{
      display: none;
      margin-top: 20px;   
  }
}
.icon-user-alt{
    color: var(--bg-color);
    font-size: 30px;
    text-align: center;
    margin-left: 300px;
    margin-top: -30px;
}

.icon-user-alt:hover{
    color: var(--green); 
    cursor: pointer;
    pointer-events: all;
    transition: all 0.4s ease-in-out;
}

@media screen and (min-width:1200px) {
    .icon-user-alt{
        margin-left:75%;
        margin-top: -40px;
    }
}

.icon-user-address{
    color: var(--bg-color);
    font-size: 30px;
    text-align: center;
    margin-left: 180px;
    margin-top: -34px;
}
    

.icon-user-address:hover{
    color:rgb(0, 250, 154); 
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

@media screen and (min-width:1200px) {
    .icon-user-address{
       margin-left: 65%;
       font-size: 30px;
    }
}

.navbar-web-site{
    width: 80%;
    height: 380px;
    background:rgb(240, 255, 255) ;
    margin: 20px;
    align-items: center;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    border-radius: 40px;
    overflow: hidden;
    margin-top: -70px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

  
 

.photo-images-navbar-site{
    text-align: center;
    margin-left: 142px;
    overflow: hidden;
}

.btn button{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 150px;
    border: none;
    outline: none;
    background:blueviolet; 
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    color:var(--bg-color);
}

.btn button:hover{
    background:rgb(144, 238, 144) ;
    transition: all 0.4s ease-in-out;
    color: blueviolet;
}

.btn button:focus{
    width: 290px;
    transition: all 0.4s ease-in-out;
}

@media screen and (min-width:1200px) {
    .navbar-web-site{
        width: 50%;
    }
    
}

@media screen and (min-width:700px) {
    .navbar-web-site{
        width: 58%;
    }

}

img{
    object-fit: cover;
   
}
.paragrath{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 200px;
    color: #555;
    font-family: sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    display: inline-block;
    flex-direction: column;
    text-transform: capitalize;
    border-bottom: 2px solid #555;
}

.cards{
    width: 400px;
    height: 399px;
    position: relative;
    background: #f6f6f6;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 500px;
    border-radius: 38px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.picture{
    text-align: center;
    margin: 20px;
    border-radius: 50px;
    
}

p{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 800;
 line-height: 20px;
 color: #555;
 text-transform: capitalize;

}

.btn-for-card button{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 165px;
    border: none;
    outline: none;
    background:blueviolet; 
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    color:var(--bg-color);
}

.btn-for-card button:focus{
    background:rgb(144, 238, 144) ;
    transition: all 0.4s ease-in-out;
    color: blueviolet;
    width: 270px;
}


.btn-for-card button:hover{
    background:rgb(144, 238, 144) ;
    transition: all 0.4s ease-in-out;
    color: blueviolet;
}

.fa-cloud-download-alt{
    color: #555;
    font-size: 30px;
    margin-left: 20px;
    
}

.fa-cloud-download-alt:hover{
    color:orangered;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.card-2{
    width: 400px;
    height: 399px;
    position: relative;
    background: #f6f6f6;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 960px;
    border-radius: 38px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;

}

.picture-2{
  text-align: center;
  background-size: cover;
    
}

.btn-card-2 button{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 165px;
    border: none;
    outline: none;
    background:blueviolet; 
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    color:var(--bg-color);   
}


.btn-card-2 button:hover{
    background:rgb(144, 238, 144) ;
    transition: all 0.4s ease-in-out;
    color: blueviolet;
}

.btn-card-2:focus{
width: 300px;
}

.icon-sass{
    margin-right: 300px;
    margin-top: 50px;
    margin-left: -30px;
}

.card-3{
    width: 400px;
    height: 399px;
    position: relative;
    background: #f6f6f6;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 1400px;
    border-radius: 38px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
}

.picture-card-4{
    text-align: center;
  background-size: cover;
  margin-top: 20px;
}

.card-5{
    width: 400px;
    height: 399px;
    position: relative;
    background: #f6f6f6;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 1830px;
    border-radius: 38px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
}

.paragrath-card-5{
    text-align: center;
    margin-top: 20px;
    object-fit: cover;
}

button{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 165px;
    border: none;
    outline: none;
    background:blueviolet; 
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    color:var(--bg-color);   
}


button:hover{
    background: palegreen;
    color: blueviolet;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

@media screen and (min-width:1200px) {
    .card-2{
        margin-left: -30%;
        margin-top: 500px;
    }

    .card-3{
        margin-left: 450px;
        top: -550px;
    }

    .card-5{
        margin-top: 935px;
        margin-left: -450px;
    }

    .card-site-6{
        display: flex;
    }
}

.card-site-6{
    width: 400px;
    height: 399px;
    position: relative;
    background: #f6f6f6;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 20px;
    border-radius: 38px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    top:1268px; 
}

@media screen and (min-width:600px) {

    .card-site-6{
        display: none;
    }
}

@media screen and (max-width:900px) {
    .card-site-6{
        display: none;
    }
}

.js-repeat img{
    text-align: center;
    margin-left: 110px;
    overflow: hidden;
    margin-top: 40px;
}

.btn-card-6 button{
    margin-top: 1100px;
}

.card-7{
    width: 400px;
    height: 399px;
    position: relative;
    background: #f6f6f6;
    position: absolute;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%);
    margin-top: 935px;
    border-radius: 38px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    margin-left: 450px;
}

.picture-humen-for-card img{
    text-align: center;
    margin-left: 110px;
    overflow: hidden;
    margin-top: 40px;
}

.btn-for-card-seven button{
    margin-top: 1100px;
    margin-left: 450px;
}

@media screen and (min-width:1200px) {
    .card-site-6{
        display: flex;
    }
}